.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .login-form {
    width: 500px;
    height: 500px;
    .title {
      text-align: center;
      font-size: 30px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}
